<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">


<style>
.visible-links li {
  padding: 0.25em 0;
}

.visible-links li:last-child {
  background-color: skyblue;
  border: 1px solid rebeccapurple;
  border-radius: 5px;
  margin-left: 1em;
}


html {
  background-color: #f9b248;
}

.greedy-nav,
form {
  background-color: transparent;
}

.greedy-nav .visible-links a:before {
  background: #464ff8
}

blockquote {
  border-inline-start: 0.25em solid #464ff8;
}

.wrapper a {
  color: #fff
}

a {
  color: #464ff8
}

a:hover {
  color:#4047c0
}

a:visited {
  color:#1f2370
}
.initial-content a:hover {
  color:#4047c0
}

.initial-content a:visited {
  color:#1f2370
}

.page__footer {
  background-color: #f3921c;
}

.page__hero--overlay {
  height: 425px;
}

h1 {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2.archive__item-title {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
}

p.page__lead {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

li.masthead__menu-item {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.feature__wrapper .archive__item {
  display: flex;
  justify-content: center;
  max-width: 900px;
  margin: 1em auto;
  float: unset;
}

.feature__wrapper .feature__item--right .archive__item-teaser { order: 2; }
.feature__wrapper .feature__item--right .archive__item-body { order: 1; }

.feature__wrapper .archive__item .archive__item-teaser {
  flex: 1;
}

.feature__wrapper .archive__item .archive__item-body {
  flex: 1;
}

.feature__wrapper .archive__item-title {
  margin-top: 0px;
}


.feature__item--left .archive__item-teaser {
  float: inline-start; 
  width: 33%; 
}

.feature__item--left .archive__item-body { 
  float: inline-start; 
  padding-inline-start: 5%;
}

.feature__item--right .archive__item-teaser {
  float: inline-end; 
  width: 35%; 
}

.feature__wrapper:nth-child(5) .archive__item-teaser {
  float: inline-end; 
  width: 27%; 
}

.feature__item--right {
  text-align: start;
}

#mc_embed_shell > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}


</style>
