<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">


<style>
.visible-links li {
  padding: 0.25em 0;
}

.visible-links li:last-child {
  background-color: skyblue;
  border: 1px solid rebeccapurple;
  margin-left: 1em;
}


html {
  background-color: #f9b248;
}

.greedy-nav,
form {
  background-color: transparent;
}

blockquote {
  border-inline-start: 0.25em solid #464ff8;
}

.wrapper a {
  color: #fff
}

#main a {
  color: #464ff8
}

#main a:hover {
  color:#4047c0
}

#main a:visited {
  color:#1f2370
}
.initial-content a:hover {
  color:#4047c0
}

.initial-content a:visited {
  color:#1f2370
}

.page__footer {
  background-color: #f3921c;
}

h1 {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2.archive__item-title {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
}

p.page__lead {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

li.masthead__menu-item {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
</style>
